*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Arial';
}

.item {
    width: 500px;
    height: 350px;
    background-color: #fafafa;
    font-size: 24px;
    margin: 10px;
}

.tw-list {
    padding-top: 20px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

.sev {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
}
.lazyload {
    border-radius: 9999px;
}
.sev-1 {
    padding-right: 10px;
}
.sev-2 {
    display: flex;
    flex-direction: column;
}
.sev-2 a {
    text-decoration: none;
}
.sev-2-1 a {
    color: #363636;
    font-size: 0.85em;
    font-weight: 700;
}
.sev-2-2 {
    color: #7a7a7a;
    font-size: .670em;
}
.sev-2-2 a {
    color: #7a7a7a;
}
.tw-list-1 {
    padding: 15px 15px 0px 15px;
    color: #363636;
    font-size: 0.75em;
    line-height: 1.5;
}
.tw-list-1 a {
    text-decoration: none;
    color: #485fc7;
}
.time a {
    text-decoration: none;
    padding-left: 15px;
    font-size: 0.7em;
    color: #7a7a7a;
}
.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding-left: 15px;
    padding-top: 10px;
}
.fa-regular.fa-comment {
    font-size: 0.8em;
    padding-right: 40px;
    text-align: left;
}
.fa-sharp.fa-regular.fa-share-from-square {
    display: flex;
    font-size: 0.8em;
    padding-right: 40px;
    text-align: left;
}
.number {
    display: flex;
    align-items: end;
    padding-left: 10px;
    font-size: 0.7em;

}
.fa-regular.fa-heart {
    display: flex;
    font-size: 0.8em;
    padding-right: 40px;
    text-align: left;
}
.icon a {
    text-decoration: none;
    color: #7a7a7a;
}
.icon-1 :hover {
    color: rgb(79, 122, 201);
}
.icon-2 :hover {
    color: green;
}
.icon-3 :hover {
    color: red;
}

@media screen and (max-width: 1050px) {
    .box {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 570px) {
    .box {
        grid-template-columns: auto;
    }
}
